/*************************************
  CSS definitions for the HuckTheme
**************************************/

/* -------------------------------------------------------- */
/* ----------------------- GLOBAL ------------------------- */
/* -------------------------------------------------------- */

  a {
    color: #336699;
  }
  
  .state-published {
    color: #336699 !important;
  }
  
  
  
  /* ----- FOLDER SUMMARY VIEW ENTRIES ----- */
    .tileItem {
      border-top: 0 none;
    }
  
    .tileImage {
      margin: 2.2em 0 2.5em 0.5em;
    }
  
    .tileHeadline a {
      text-decoration: underline;
    }
  
    .tileHeadline a:hover {
      color: #FF6633 !important;
      text-decoration: none;
    }








/* -------------------------------------------------------- */
/* ----------------------- LAYOUT ------------------------- */
/* -------------------------------------------------------- */

  #visual-header-wrapper,
  #visual-content-wrapper,
  #visual-footer-wrapper {
    margin: 0 auto;
    width: 980px;
  }

  /* ----- HEADER ----- */
    #portal-top {
      background: url(header-bg.png) 0 -24px repeat-x;
    }

    #portal-header {
      background-color: #336699;
      float: right;
      margin: 0;
      padding: 0;
      width: 602px;
    }



  /* ----- CONTENT ----- */
  table#portal-columns {
    margin-left: 126px;
    margin-top: -100px;
    width: 852px !important;
  }

  table#portal-columns td {
    background-color: transparent;
    padding-top: 110px;
    vertical-align: top;
  }


  table#portal-columns td#portal-column-one {
    background-color: white;
    padding-top: 0;
    width: 252px;
  }
  
  table#portal-columns td#portal-column-one .visualPadding {
    padding: 0 0 2em 0;
  }

  table#portal-columns td#portal-column-content {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  table#portal-columns td#portal-column-two {
    width: 150px;
  }

  table#portal-columns td#portal-column-two .visualPadding {
    margin-top: 1.5em;
  }



  /* ----- FOOTER ----- */
    #footer {
      background: url("footer-bg.png") repeat-x scroll left top #336699;
      margin-top: 5em;
      padding-bottom: 2em;
    }

    #footer a {
      color: black;
    }

    #footer-titlebar {
      background: url("footer-titlebar-bg.png") repeat-x scroll left top transparent;
      height: 30px;
    }

    #siteActions {
      float: right;
      margin: 2em 0 1em;
      padding-right: 0.5em;
      text-align: right;
    }

    #siteActions #portal-siteactions {
      float: none;
      margin: 0;
      padding: 0;
    }

    #siteActions #portal-siteactions li {
      display: block;
      margin: 0;
    }

    #siteActions #portal-siteactions li a {
      background-color: transparent;
      border: 0 none;
      color: black;
      display: block;
      padding: 0.1em;
      text-decoration: underline;
    }

    #siteActions #portal-siteactions li a:hover {
      background-color: transparent;
      border: 0 none;
      color: black;
      text-decoration: underline;
    }

    #portal-footer {
      background-color: transparent;
      border: 0 none;
      float: left;
      font-weight: normal;
      line-height: 1em;
      padding: 0 0 0 0.5em;
      text-align: left;
    }

    #portal-footer p {
      line-height: 1.3em;
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
    
    #portal-footer a,
    #portal-footer a:hover,
    #portal-footer a:active,
    #portal-footer a:visited {
      background-color: transparent;
      border: 0 none;
      color: black;
      text-decoration: underline;
    }




/* -------------------------------------------------------- */
/* ---------------------- PORTLETS ------------------------ */
/* -------------------------------------------------------- */

  .portlet  {
    background-color: White;
    border: 0 none;
    font-size: 100%;
    margin: 1px 0 1em;
  }

  dl.portlet {
    padding: 0.5em;
  }

  .portlet a.tile {
    display: block;
  }

  .portlet a {
    text-decoration: none;
  }

  .portlet a:hover {
    color: #EE8547;
    text-decoration: underline;
  }

  dt {
    font-weight: bold;
  }

  .portletHeader {
    background-color: transparent;
    border: 0 none;
    color: black;
    font-size: 130%;
    font-weight: bold;
    padding: 0;
    text-transform: none;
  }

  .portletHeader a:link,
  .portletHeader a:visited {
    color: black;
    display: block;
    text-decoration: underline;
  }


  dd {
    margin-bottom: 1em;
  }

  .portletItem  {
    border: 0 none;
    margin: 0;
    padding: 0 0.5em 0.5em 0.5em;
  }

  .portletItem ul {
    list-style-type: none;
  }

  .portletItem  a {
    line-height: 1.3em;
  }



  /* ----- NAVIGATION PORTLET ----- */
    .portletNavigationTree {
      list-style: none outside none !important;
      padding: 0;
    }
    
    .navTreeItem  {
      display: block;
      margin: 0.15em 0.2em;
      padding: 0;
    }

    .navTreeItem a,
    dd.portletItem .navTreeItem a {
      background-color: transparent;
      border: 0 none;
      margin: 0;
      text-decoration: none;
    }

    .navTreeItem a,
    dd.portletItem .navTreeItem a:hover {
      background-color: transparent;
      border: 0 none;
      text-decoration: underline;
    }

    .navTreeLevel0 {
      margin: 0;
    }



  /* ----- CONTENT WELL PORTLETS ----- */



  /* ----- CONTENT WELL PORTLETS (HOME PAGE) ----- */



  /* ----- FOOTER PORTLETS ----- */
    #footer-portlets {
      margin-top: -33px;
    }

    #footer-portlets .portlet {
      background-color: transparent;
      border: 0 none;
    }

    #footer-portlets .portlet .portletHeader {
      margin-bottom: 10px;
    }
    
    #footer-portlets dd.portletItem .navTreeItem a {
      color: black !important;
    }
    
    #footer-portlets .even {
      background-color: transparent;
    }

    #footer-portlets .FooterPortletA,
    #footer-portlets .FooterPortletB,
    #footer-portlets .FooterPortletC,
    #footer-portlets .FooterPortletD,
    #footer-portlets .FooterPortletE {
      float: left;
      width: 20%;
    }




/* -------------------------------------------------------- */
/* --------------------- GLOBAL NAV ----------------------- */
/* -------------------------------------------------------- */

  #portal-globalnav {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space:normal;
  }

  #portal-globalnav li {
    display: block;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  #portal-globalnav li a {
    background-color: #CFE4EF;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: #336699;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 0;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    margin-right: 0;
    padding: 22px 2px 2px 2px;
    text-decoration: none;
    vertical-align: bottom;
    width: 81px;
  }

  #portal-globalnav li.selected a {
    background-color: #336699;
    border: 0 none;
    color: white;
  }




/* -------------------------------------------------------- */
/* -------------------- PERSONAL BAR ---------------------- */
/* -------------------------------------------------------- */

  #portal-personaltools {
    background-color: transparent;
    border: 0 none;
    margin-top: 100px;
    padding: 0;
  }

  #portal-personaltools li {
    display: list-item;
    float: left;
    margin-bottom: 0;
  }

  #portal-personaltools li a {
    color: #CCCCCC;
  }

  #portal-personaltools li a:hover {
    text-decoration: underline;
  }

  #portal-personaltools .contentActions a {
  }

  #portal-personaltools .actionMenu .actionMenuContent li {
    display: inline;
    float: none;
  	text-align: left;
  }

  #portal-personaltools .actionMenu .actionMenuContent li a {
  	color: #666666;
  	padding-left: 0.2em;
  	padding-right: 0.2em;
  }

  #portal-personaltools .actionMenu .actionMenuContent li a:hover {
  	color: #FFFFFF;
  	text-decoration: none;
  }

  #portal-personaltools .actionMenu .actionMenuContent .actionSeparator a {
  	border-top: 1px solid #797979;
  }




/* -------------------------------------------------------- */
/* ----------------------- SEARCH ------------------------- */
/* -------------------------------------------------------- */

  #portal-searchbox {
    clear: none;
    float: none;
    height: 30px;
    margin: 0;
    padding: 5px 5px 0 0;
    text-align: right;
  }

  #portal-searchbox a {
    color: black;
    text-decoration: underline;
  }
  
  #portal-searchbox .LSBox {
    clear: none;
    float: none;
    padding: 0;
  }
  
  #portal-searchbox label {
    font-weight: normal;
  }

  #portal-searchbox form,
  #portal-searchbox label, 
  #portal-searchbox div.LSBox,
  #portal-searchbox div.LSBox input,
  #portal-searchbox div#portal-advanced-search {
    display: inline;
  }




/* -------------------------------------------------------- */
/* ---------------------- CONTENT ------------------------- */
/* -------------------------------------------------------- */

  h1 {
    border-bottom: 0 none;
  }
  
  h1.documentFirstHeading {
    margin-bottom: 0.4em;
  }

  p.documentDescription {
    color: #336699;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid #CCCCCC;
  }



  /* ----- MANAGE PORTLET LINKS ----- */
    .managePortletsLink,
    .managePortletsFallback,
    .managePortletsAboveLink,
    .managePortletsBelowLink,
    .manageFooterPortletsLink {
      display: none;
    }


  /* ----- EDITING CONTENT ----- */
    .documentEditable .documentContent {
      border: 0;
    }

    .contentViews {
      border-color: #797979;
    }

    .contentViews li a {
      border: 1px solid #797979;
      color: #666666;
    }

    .contentViews li a:hover {
      background-color: #CCCCCC;
      color: #666666;
    }

    .contentViews .selected a {
      background-color: #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      color: #666666;
    }

    .contentActions {
      border-bottom: 1px solid #797979;
      background-color: #CCCCCC;
      border-left: 1px solid #797979;
      border-right: 1px solid #797979;
      color: #666666;
    }

    .contentActions li {
      border-left: 1px solid #797979;
    }

    .contentActions a {
      color: #666666;
    }

    .actionMenu .actionMenuContent ul {
      background: #CCCCCC none repeat scroll 0 0;
      border-color: #797979;
    }

    .actionMenu .actionMenuContent li a:hover {
      background-color: #797979;
    }

    .actionMenu .actionMenuContent .actionSeparator a {
      border-top: 1px solid #797979;
    }

    .documentContent {
      padding: 1em 0 !important;
    }

    .documentByLine {
      color: #666666;
      margin-left: 1em;
    }




/* -------------------------------------------------------- */
/* ----------------------- LISTS -------------------------- */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* ----------------------- TABLES ------------------------- */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* ----------------------- PEOPLE ------------------------- */
/* -------------------------------------------------------- */



/* -------------------------------------------------------- */
/* ----------------------- EVENTS ------------------------- */
/* -------------------------------------------------------- */







/* -------------------------------------------------------- */
/* ------------------------ MEDIA ------------------------- */
/* -------------------------------------------------------- */



  /* ----- LOGOS ----- */
    #psu-logo {
      position: relative;
      top: 0px;
      left: 0px;
    }

    #portal-logo {
      float: right;
      margin: 15px 15px 6px 0;
    }
    
    #portal-logo img {
      margin: 0;
    }

    #partnerLogo  {
      clear: both;
      text-align: center;
    }

    .portletSectionLogo {
      margin-top: 3px;
      margin-left: 3px;
    }




