/*************************************
  CSS definitions for the HuckTheme
**************************************/

/* -------------------------------------------------------- */
/* ----------------------- GLOBAL ------------------------- */
/* -------------------------------------------------------- */

  a {
    color: #336699;
  }
  
  .state-published {
    color: #336699 !important;
  }
  
  .documentContent dd a {
    border: 0 none;
  }
  
  .hide {
    display: none;
    visibility: hidden;
  }
  
  .state-expired {
    font-weight: normal;
  }
  
  .alert {
    background-color: #EEF3F5;
    border: 1px solid #336699;
    margin-bottom: 0.5em;
    padding: 5px;
  }
  
  
  /* ----- HOLIDAY - OFFICE CLOSED NOTICE ----- */
  .vacation_msg {
    background-color: #ffcccc;
    border: 1px solid #FF6633;
    color: black;
    padding: 1em;
    display: none;
    visiblity: hidden;
  }
  
  
  
  /* ----- FOLDER SUMMARY VIEW ENTRIES ----- */
    .tileItem {
      border-top: 0 none;
    }
  
    .tileImage {
      margin: 2.2em 0 2.5em 0.5em;
    }
  
    .tileHeadline a {
      text-decoration: underline;
    }
  
    .tileHeadline a:hover {
      color: #FF6633 !important;
      text-decoration: none;
    }
  
  
  
  /* ----- WATERMARK ----- */
    .watermark {
      background: url("draft.png") repeat scroll 0 0 #FAFAFA;
    }
  
  
  
  /* ----- TODAY/NOW BUTTONS ----- */
    .plone_jscalendar input.standalone {
      margin-left: 0.3em;
    }







/* -------------------------------------------------------- */
/* ----------------------- LAYOUT ------------------------- */
/* -------------------------------------------------------- */

  #visual-header-wrapper,
  #visual-content-wrapper,
  #visual-footer-wrapper {
    margin: 0 auto;
    position: relative;
    width: 980px;
  }

  #visual-header-wrapper {
    /* this is needed otherwise the entire header blows up
       in most browsers except for IE7 */
    border-top: 1px solid white;
  }

  /* ----- HEADER ----- */
    #portal-top {
      background: url(header-bg.png) 0 -24px repeat-x;
      height: 150px;
    }

    #portal-header {
      background-color: #336699;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 602px;
      z-index: 10;
    }



  /* ----- CONTENT ----- */
  table#portal-columns {
    margin-left: 126px;
    margin-top: -100px;
    width: 852px !important;
  }

  table#portal-columns td {
    background-color: transparent;
    padding-top: 110px;
    vertical-align: top;
  }


  table#portal-columns td#portal-column-one {
    background-color: white;
    padding-top: 0;
    width: 252px;
  }
  
  table#portal-columns td#portal-column-one .visualPadding {
    padding: 0 0 2em 0;
  }

  table#portal-columns td#portal-column-content {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  table#portal-columns td#portal-column-two {
    width: 150px;
  }

  table#portal-columns td#portal-column-two .visualPadding {
    margin-top: 1.5em;
  }



  /* ----- FOOTER ----- */
    #footer {
      background: url("footer-bg.png") repeat-x scroll left top #336699;
      margin-top: 5em;
      padding-bottom: 2em;
    }

    #footer a {
      color: black;
    }

    #footer-titlebar {
      background: url("footer-titlebar-bg.png") repeat-x scroll left top transparent;
      height: 30px;
    }

    #siteActions {
      float: right;
      margin: 2em 0 1em;
      padding-right: 0.5em;
      text-align: right;
    }

    #siteActions #portal-siteactions {
      float: none;
      margin: 0;
      padding: 0;
    }

    #siteActions #portal-siteactions li {
      display: block;
      margin: 0;
    }

    #siteActions #portal-siteactions li a {
      background-color: transparent;
      border: 0 none;
      color: black;
      display: block;
      padding: 0.1em;
      text-decoration: underline;
    }

    #siteActions #portal-siteactions li a:hover {
      background-color: transparent;
      border: 0 none;
      color: black;
      text-decoration: underline;
    }

    #portal-footer {
      background-color: transparent;
      border: 0 none;
      float: left;
      font-weight: normal;
      line-height: 1em;
      padding: 0 0 0 0.5em;
      text-align: left;
    }

    #portal-footer p {
      line-height: 1.3em;
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
    
    #portal-footer a,
    #portal-footer a:hover,
    #portal-footer a:active,
    #portal-footer a:visited {
      background-color: transparent;
      border: 0 none;
      color: black;
      text-decoration: underline;
    }




/* -------------------------------------------------------- */
/* ---------------------- PORTLETS ------------------------ */
/* -------------------------------------------------------- */

  .portlet  {
    background-color: transparent;
    border: 0 none;
    font-size: 90%;
    margin: 1px 0 1em;
  }
  
  dl.portlet,
  div.portletStaticText {
    padding: 0.5em;
  }

  .portlet a.tile {
    display: block;
  }

  .portlet a {
    text-decoration: none;
  }

  .portlet a:hover {
    color: #FF6633;
    text-decoration: underline;
  }

  dt {
    font-weight: bold;
  }

  .portletHeader {
    background-color: transparent;
    border: 0 none;
    color: black;
    font-size: 130%;
    font-weight: bold;
    padding: 0;
    text-transform: none;
  }

  .portletHeader a:link,
  .portletHeader a:visited {
    color: black;
    display: block;
    text-decoration: underline;
  }

  dd {
    margin-bottom: 1em;
  }

  .portletItem  {
    border: 0 none;
    margin: 0;
    padding: 0 0.5em 0.5em 0.5em;
  }

  .portletItem ul {
    list-style-type: none;
  }

  .portletItem  a {
    line-height: 1.3em;
  }

  .portletCollection .portletItem {
    clear: both;
  }

  .portletFooter {
    background-color: transparent;
    border: 0 none;
  }



  /* ----- LEFT COLUMN PORTLETS ----- */
    #portal-column-one .portlet {
      font-size: 100%;
    }
    
    #portal-column-one .portlet .even {
      background-color: transparent;
    }
    
    #portal-column-one .portlet .portletItem {
      margin-bottom: 0.3em;
    }



  /* ----- EVENTS PORTLET ----- */
    .portlet .eventTitle a, .portlet .articleTitle a {
      font-size: 120%;
      font-variant: small-caps;
      font-weight: bold;
    }

    .portlet .eventTitle .speakerInstitution {
      font-style: italic;
      font-variant: normal;
      font-weight: normal;
    }

    .portlet .eventDate {
      font-weight: bold;
    }



  /* ----- NEWS PORTLET ----- */
    .portlet .imageInPortlet {
      border: medium none;
      float: left;
      margin: 0.25em 0.5em 0.25em 0;
    }
    
    #newsPortletProof {
      margin-top: 4em;
    }



  /* ----- PEOPLE PORTLET ----- */
    .portlet .person .headshot {
      float: left;
    }

    .portlet .person .personName a {
      font-size: 110%;
    }

    .portlet .person .personDetails {
      margin-left: 60px;
      min-height: 70px;
    }



  /* ----- NAVIGATION PORTLET ----- */
    .portletNavigationTree {
      list-style: none outside none !important;
      padding: 0;
    }
    
    .navTreeItem  {
      display: block;
      margin: 0.15em 0.2em;
      padding: 0;
    }

    .navTreeItem a,
    dd.portletItem .navTreeItem a {
      background-color: transparent;
      border: 0 none;
      margin: 0;
      padding-left: 0.3em;
      text-decoration: none;
    }

    .navTreeItem a,
    dd.portletItem .navTreeItem a:hover {
      background-color: transparent;
      border: 0 none;
      text-decoration: underline;
    }

    .navTreeLevel0 {
      margin: 0;
    }
    
    dd.portletItem .portletNavigationTree .navTreeCurrentNode,
    dd.portletItem .portletNavigationTree .navTreeItemInPath {
      background-color: #EEF3F5;
    }
    
    dd.portletItem .navTreeCurrentNode a.navTreeCurrentItem {
      /*color: #FF6633 !important;*/
      border: 0 none !important;
      border-left: 2px solid #FF6633 !important;
    }



  /* ----- CONTENT WELL PORTLETS ----- */
    .portletsBelowContentA { width: 99%; }
    .portletsBelowContentB { width: 49%; }
    .portletsBelowContentC { width: 49%; }
    .portletsBelowContentD { width: 32%; }
    .portletsBelowContentE { width: 32%; }
    .portletsBelowContentF { width: 32%; }

    .portletsBelowContentA .portlet,
    .portletsBelowContentB .portlet,
    .portletsBelowContentC .portlet,
    .portletsBelowContentD .portlet,
    .portletsBelowContentE .portlet,
    .portletsBelowContentF .portlet {
      border: 0 none;
    }

    .portletsBelowContentA {
      padding: 0.5em;
    }

    .portletsBelowContentB,
    .portletsBelowContentC,
    .portletsBelowContentD,
    .portletsBelowContentE,
    .portletsBelowContentF {
      float: left;
      padding: 0;
    }

    #portlets-below .even {
      background-color: transparent;
    }
    
    #portlets-below .portlet {
      padding: 0;
    }
    
    #portlets-below .portlet dt.portletHeader {
      background-color: transparent;
      font-size: 150%;
      font-weight: normal;
      padding: 0.25em 0.25em;
    }

    #portlets-below .portlet dt.portletHeader a,
    #portlets-below .portlet dt.portletHeader a:link,
    #portlets-below .portlet dt.portletHeader a:active,
    #portlets-below .portlet dt.portletHeader a:visited {
      background-color: transparent;
      text-decoration: underline;
    }

    #portlets-below .portlet dt.portletHeader a:hover {
      color: #FF6633;
      text-decoration: none;
    }

    #portlets-below .portlet dd.portletItem {
      /* min-height: 70px;    this was because of the images in news items */
      padding: 0 0.5em 2em 0.5em;
    }

    #portlets-below #research-labs.portlet dd.portletItem {
      /* min-height: 70px;    this was because of the images in news items */
      padding: 0 0.5em 0.5em 0.5em;
    }



  /* ----- CONTENT WELL PORTLETS (HOME PAGE) ----- */
    .section-welcome #content-history {
      display: none;
    }
  
    .section-welcome #portlets-below {
      margin-top: -2em;
    }
    .section-welcome #portal-column-two {
      width: 170px;
    }

    .section-welcome #portal-column-two div.portletStaticText {
      margin-bottom: 1.5em;
    }



  /* ----- FOOTER PORTLETS ----- */
    #footer-portlets {
      margin-top: -33px;
    }

    #footer-portlets .portlet {
      background-color: transparent;
      border: 0 none;
      font-size: 100%;
    }

    #footer-portlets .portlet .portletHeader {
      margin-bottom: 10px;
    }
    
    #footer-portlets dd.portletItem .navTreeItem a {
      color: black !important;
    }
    
    #footer-portlets dd.portletItem .portletNavigationTree .navTreeCurrentNode,
    #footer-portlets dd.portletItem .portletNavigationTree .navTreeItemInPath {
      background-color: transparent;
    }
    
    #footer-portlets dd.portletItem .navTreeCurrentNode a.navTreeCurrentItem {
      border: 0 none !important;
    }
    
    #footer-portlets .even {
      background-color: transparent;
    }

    #footer-portlets .FooterPortletA,
    #footer-portlets .FooterPortletB,
    #footer-portlets .FooterPortletC,
    #footer-portlets .FooterPortletD,
    #footer-portlets .FooterPortletE {
      float: left;
      width: 20%;
    }




/* -------------------------------------------------------- */
/* --------------------- GLOBAL NAV ----------------------- */
/* -------------------------------------------------------- */

  #portal-globalnav {
    padding: 0;
  }

  #portal-globalnav li {
    display: block;
    float: left;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  #portal-globalnav li a {
    background-color: #CFE4EF;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: #336699;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 0;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    margin-right: 0;
    padding: 22px 2px 2px 2px;
    text-decoration: none;
    vertical-align: bottom;
    width: 81px;
  }

  #portal-globalnav li.selected a {
    background-color: #336699;
    border: 0 none;
    color: white;
  }




/* -------------------------------------------------------- */
/* -------------------- PERSONAL BAR ---------------------- */
/* -------------------------------------------------------- */

  #portal-personaltools {
    background-color: transparent;
    border: 0 none;
    margin-top: 100px;
    padding: 0;
  }

  #portal-personaltools li {
    display: list-item;
    float: left;
    margin-bottom: 0;
  }

  #portal-personaltools li a {
    color: #CCCCCC;
  }

  #portal-personaltools li a:hover {
    text-decoration: underline;
  }

  #portal-personaltools .contentActions a {
  }

  #portal-personaltools .actionMenu .actionMenuContent li {
    display: inline;
    float: none;
  	text-align: left;
  }

  #portal-personaltools .actionMenu .actionMenuContent li a {
  	color: #666666;
  	padding-left: 0.2em;
  	padding-right: 0.2em;
  }

  #portal-personaltools .actionMenu .actionMenuContent li a:hover {
  	color: #FFFFFF;
  	text-decoration: none;
  }

  #portal-personaltools .actionMenu .actionMenuContent .actionSeparator a {
  	border-top: 1px solid #797979;
  }




/* -------------------------------------------------------- */
/* ----------------------- SEARCH ------------------------- */
/* -------------------------------------------------------- */

  #portal-searchbox {
    clear: none;
    float: none;
    height: 30px;
    margin: 0;
    margin-top: 117px;
    padding: 5px 5px 0 0;
    position: relative;
    text-align: right;
    z-index: 9;
  }

  #portal-searchbox a {
    color: black;
    text-decoration: underline;
  }
  
  #portal-searchbox .LSBox {
    clear: none;
    float: none;
    padding: 0;
  }
  
  #portal-searchbox label {
    font-weight: normal;
  }

  #portal-searchbox form,
  #portal-searchbox label, 
  #portal-searchbox div.LSBox,
  #portal-searchbox div.LSBox input,
  #portal-searchbox div#portal-advanced-search {
    display: inline;
  }




/* -------------------------------------------------------- */
/* ---------------------- CONTENT ------------------------- */
/* -------------------------------------------------------- */

  h1 {
    border-bottom: 0 none;
  }
  
  h1.documentFirstHeading {
    margin-bottom: 0.4em;
  }

  .documentDescription {
    color: #336699;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid #CCCCCC;
  }

  h2.documentDescription {
    border: 0 none;
    font-size: 100%;
  }



  /* ----- MANAGE PORTLET LINKS ----- */
    .managePortletsLink,
    .managePortletsFallback,
    .managePortletsAboveLink,
    .managePortletsBelowLink,
    .manageFooterPortletsLink {
      display: none;
    }


  /* ----- EDITING CONTENT ----- */
    .documentEditable .documentContent {
      border: 0;
    }

    .contentViews {
      border-color: #797979;
    }

    .contentViews li a {
      border: 1px solid #797979;
      color: #666666;
    }

    .contentViews li a:hover {
      background-color: #CCCCCC;
      color: #666666;
    }

    .contentViews .selected a {
      background-color: #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      color: #666666;
    }

    .contentActions {
      border-bottom: 1px solid #797979;
      background-color: #CCCCCC;
      border-left: 1px solid #797979;
      border-right: 1px solid #797979;
      color: #666666;
    }

    .contentActions li {
      border-left: 1px solid #797979;
    }

    .contentActions a {
      color: #666666;
    }

    .actionMenu .actionMenuContent ul {
      background: #CCCCCC none repeat scroll 0 0;
      border-color: #797979;
    }

    .actionMenu .actionMenuContent li a:hover {
      background-color: #797979;
    }

    .actionMenu .actionMenuContent .actionSeparator a {
      border-top: 1px solid #797979;
    }

    .documentContent {
      padding: 1em 0 !important;
    }

    .documentByLine {
      color: #666666;
      margin-left: 1em;
    }




/* -------------------------------------------------------- */
/* ----------------------- LISTS -------------------------- */
/* -------------------------------------------------------- */

  ul.list {
    list-style-type: none;
    list-style-image: none;
  }



  /* ----- IMAGE LISTS ----- */
    ul.imageList {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
    }

    ul.imageList li {
      float: left;
      height: 200px;
      margin: 0 5px;
      width: 200px;
    }

    ul.imageList li img {
      margin: 0;
    }

    ul.imageList div.caption {
      color: #76797C;
      font-size: 85%;
      font-weight: normal;
    }




/* -------------------------------------------------------- */
/* ----------------------- TABLES ------------------------- */
/* -------------------------------------------------------- */

  /* undo the column padding for the three column layout */
  table#portal-columns td table td {
    padding-top: 0.5em;
  }

  table.listing {
    font-size: 100%;
  }

  table.listing th, table.data th {
    background-color: #B6D8EA;
    text-align: left;
  }

  table.listing th img {
    display: none;
  }

  table.listing a:hover {
    color: &dtml-linkActiveColor;;
  }

  table.listing a {
    text-decoration: underline;
  }

  table tr {
    vertical-align: top;
  }

  table.plain {
    border-collapse: collapse;
  }

  table.plain th {
    border: 1px solid #666;
    padding: 0.25em 0.5em;
    text-align: left;
  }

  table.plain td {
    border: 1px solid #666;
    padding: 0.25em 0.5em;
  }

  .data {
    border-bottom: 1px solid #B6D8EA;
    border-collapse: collapse;
    border-left: 1px solid #B6D8EA;
    font-size: 100%;
    margin: 1em 0;
  }

  .data th {
    border-right: 1px solid #DEE7EC;
    font-weight: normal;
    padding: 0.25em 1em;
  }

  .data td {
    border-bottom: 1px solid #B6D8EA;
    border-right: 1px solid #B6D8EA;
    padding: 0.25em 1em;
  }

  table.gradProgs tbody tr td {
    width: 50%;
  }



/* -------------------------------------------------------- */
/* ----------------------- PEOPLE ------------------------- */
/* -------------------------------------------------------- */

  .hasPhoneNumber {
    background:transparent url(phone_icon.gif) no-repeat scroll left bottom;
    padding-left:10px;
  }



  /* ----- PERSON VIEW ----- */
    .facultyStaffDirectory.personView .headshot {
      background-color: white;
      border-left: 2em solid white;
      border-right: 2em solid white;
      margin: 5em 0 0 0;
    }

    .facultyStaffDirectory.personView #administrativeInformation {
      margin-top: 5em;
    }

    .facultyStaffDirectory.personView #administrativeInformation h3 {
      color: #FF6633;
    }

    .facultyStaffDirectory.personView #administrativeInformation .labs dl {
      margin: 0 0 0 1em;
    }

    .facultyStaffDirectory.personView #administrativeInformation .defList dd {
      font-size: 0.85em;
      line-height: 1em;
      margin: 0 0 2em 0.25em;
    }

    .facultyStaffDirectory.personView #administrativeInformation .defList dd p {
      margin: 0;
    }



  /* ----- STANDARD VIEW ----- */
    .facultyStaffDirectory .standardView .headshot img {
      border: 0 none;
    }
    .facultyStaffDirectory .standardView ul.jobTitle li {
      font-style: italic;
    }



  /* ----- TABULAR VIEW ----- */
    .facultyStaffDirectory .tabularView th.classification {
      font-size: 100%;
    }

    .facultyStaffDirectory .tabularView ul.jobTitle li {
      font-size: 93%;
      line-height: 1.1em;
      list-style-image: none;
      list-style-type: none;
      margin: 0.5em 0 0 0;
    }
    
    .facultyStaffDirectory .tabularView td.contactDetails .contactInfo {
      font-size: 85%;
    }



  /* ----- TABULAR VIEW (NO BORDERS) ----- */
    .facultyStaffDirectory .tabularView table.noBorders {
      border: 0;
      border-collapse: collapse;
    }

    .facultyStaffDirectory .tabularView table.noBorders th,
    .facultyStaffDirectory .tabularView table.noBorders td {
      border: 0;
      padding: 8px 3px;
    }
    
    .facultyStaffDirectory .tabularView table td.personPhoto {      width: 50px;  }
    .facultyStaffDirectory .tabularView table td.personName {       width: 30%;  }
    .facultyStaffDirectory .tabularView table td.contactDetails {   width: 20%;  }
    .facultyStaffDirectory .tabularView table td.specialtyColumn {  width: 50%;  }



  /* ----- TABULAR VIEW (ADVISORS) ----- */
    .facultyStaffDirectory .tabularView dl.advisors {
      font-size: 93%;
      margin-top: -0.5em;
    }

    .facultyStaffDirectory .tabularView dl.advisors dt {
      font-weight: normal;
    }

    .facultyStaffDirectory .tabularView dl.advisors dd {
      margin: -1.1em 0 0 4.6em;
    }

    .facultyStaffDirectory .tabularView dl.advisors ul {
      margin: 0;
    }

    .facultyStaffDirectory .tabularView dl.advisors ul li {
      display: inline;
      line-height: 1.1em;
      list-style-image: none;
      list-style-type: none;
      margin: 0;
    }



  /* ----- TWO COLUMN COLLECTION VIEW ----- */
    #people-column-one {
      float: left;
      margin-right: 20px;
      width: 55%;
    }
    
    #people-column-two {
      float: left;
      width: 40%;
    }




/* -------------------------------------------------------- */
/* ----------------------- EVENTS ------------------------- */
/* -------------------------------------------------------- */

  .vevent .speakerInstitution {
    font-size: 80% !important;
    font-style: italic !important;
  }

  table.eventTable td {
    padding: 12px;
  }

  table.eventTable td.eventDate {
    font-weight: bold;
    text-transform: uppercase;
    min-width: 8em;
  }

  table.eventTable td .eventTitle {
    font-size: 120%;
  }

  table.eventTable td .eventTitle .speakerInstitution {
    font-size: 100%;
    font-style: italic;
  }

  table.eventTable td .talktitle {
    font-weight: bold;
  }

  table.eventTable td .eventCanceled {
    background-color: #336699;
    color: white;
    padding: 2px;
  }

  .eventDetails {
    background-color: #336699;
    border: 1px solid #336699;
    padding: 0px 1px 1px 2px;
  }

  .eventDetails .eventDetailsLabel {
    color: white;
    margin: 1px 5px;
  }
  
  .eventDetails table {
    margin: 0;
    padding: 0;
  }

  .eventDetails table th {
    background-color: white;
    color: &dtml-discreetColor;;
    width: 6em;
  }

  .eventDetails table td {
    color: black;
    width: 16em;
  }

  #meetTheSpeaker {
    background-color: #DEE7EC;
    clear: both;
    margin-top: 2em;
    padding: 1px 10px;
  }




/* -------------------------------------------------------- */
/* ------------------------ MEDIA ------------------------- */
/* -------------------------------------------------------- */

  /* ----- LOGOS ----- */
    #psu-logo {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    #portal-logo {
      float: right;
      margin: 15px 15px 6px 0;
    }
    
    #portal-logo img {
      margin: 0;
    }

    #partnerLogo  {
      clear: both;
      text-align: center;
    }

    .portletSectionLogo {
      margin-top: 3px;
      margin-left: 3px;
    }
    
    .section-welcome .portletSectionLogo {
      margin-bottom: 2em;
    }



  /* ----- IMAGES ----- */
    .image-caption-right {
      border: none;
      float: right;
      width: 200px;
    }

    .plain img {
      border: none;
      margin: 0.25em 0.5em;
    }



  /* ----- LEAD IMAGES FOR ENTITIES ----- */
  .entityImageContainer {
    background-color: white;
    border-bottom: 5px solid white;
    border-left: 10px solid white;
    float: right;
    width: 200px;
  }



  /* ----- FACILITY IMAGES ----- */

    .facility-location-image {
      float: right;
      font-size: 0.9em;
      margin: 0 0 0.3em 0.2em;
      width: 200px;
    }

    .facility-location-image img {
      display: block;
    }


  /* ----- VIDEOS ----- */
    .video-right {
      border: none;
      float: right;
      width: 300px;
    }

    .video-right object {
      border: 1px solid black;
      display: block;
    }




/* -------------------------------------------------------- */
/* ----------------- HOME PAGE HIGHLIGHT ------------------ */
/* -------------------------------------------------------- */

  .highlight-container {
    position: relative;
  }
  
  /* ----- WINDOW/MASKING AND ITEMS ----- */
    .highlight-window {
      height: 250px;
      overflow: hidden;
      position: relative;
      width: 246px;
    }
    
    .highlight-list {
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 10px;
    }
    
    .highlight-list ul {
      line-height: 1em;
      margin: 0;
      padding: 0;
    }

    .highlight-list ul li.highlight-item {
      display: block;
      float: left;
      position: relative;
    }

    .highlight-list ul li.highlight-item img {
      display: block;
    }
  
    .highlight-caption-box,
    .highlight-list ul li.highlight-item div.highlight-caption {
      background-color: #111;
      border-top: 1px solid black;
      bottom: 0;
      color: white;
      display: block;
      font-size: 1.2em;
      left: 0;
      line-height: 1.2em;
      opacity: 0.80;
      padding: 10px;
      position: absolute;
      width: 226px;
    }
    
    
    
  /* ----- PAGING LINKS ----- */
    .highlight-paging {
      background-color: #CFE4EF;
      display: none;
      padding: 7px 5px;
      position: absolute;
      right: 3px;
      text-align: center;
      top: 0px;
      z-index: 100;
      -moz-border-radius-bottomleft: 3px;
      -khtml-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    .highlight-paging a {
      color: black;
      padding: 3px;
      text-decoration: none;
    }
    
    .highlight-paging a.active {
      background-color: #336699;
      border: 1px solid black;
      color: white;
      font-weight: bold;
      -moz-border-radius: 3px;
      -khtml-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    
    .highlight-paging a:hover {
      font-weight: bold;
    }

