/*************************************
  CSS definitions for the HuckTheme
**************************************/

/* -------------------------------------------------------- */
/* ----------------------- GLOBAL ------------------------- */
/* -------------------------------------------------------- */









/* -------------------------------------------------------- */
/* ----------------------- LAYOUT ------------------------- */
/* -------------------------------------------------------- */

  #visual-header-wrapper,
  table#portal-columns,
  #visual-footer-wrapper {
    margin: 0 auto;
    width: 980px !important;
  }

  /* ----- HEADER ----- */
    #portal-top {
      background: url(header-bg.png) 0 -24px repeat-x;
    }

    #portal-header {
      background-color: #336699;
      float: right;
      margin: 0;
      padding: 0;
      width: 602px;
    }


  /* ----- FOOTER ----- */


/* -------------------------------------------------------- */
/* ---------------------- PORTLETS ------------------------ */
/* -------------------------------------------------------- */

  /* ----- NAVIGATION PORTLET ----- */

  /* ----- CONTENT WELL PORTLETS ----- */

  /* ----- CONTENT WELL PORTLETS (HOME PAGE) ----- */

  /* ----- FOOTER PORTLETS ----- */




/* -------------------------------------------------------- */
/* --------------------- GLOBAL NAV ----------------------- */
/* -------------------------------------------------------- */

  #portal-globalnav {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space:normal;
  }

  #portal-globalnav li {
    display: block;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  #portal-globalnav li a {
    background-color: #CFE4EF;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: #336699;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 0;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    margin-right: 0;
    padding: 22px 2px 2px 2px;
    text-decoration: none;
    vertical-align: bottom;
    width: 81px;
  }

  #portal-globalnav li.selected a {
    background-color: #336699;
    border: 0 none;
    color: white;
  }



/* -------------------------------------------------------- */
/* -------------------- PERSONAL BAR ---------------------- */
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* ----------------------- SEARCH ------------------------- */
/* -------------------------------------------------------- */

/*
  #portal-searchbox {
    height: 30px;
    padding-top: 3px;
    padding-right: 10px;
    text-align: right;
  }

  #portal-searchbox a {
    color: black;
  }

  #portal-searchbox form,
  #portal-searchbox label, 
  #portal-searchbox div.LSBox,
  #portal-searchbox div.LSBox input,
  #portal-searchbox div#portal-advanced-search {
    display: inline;
  }
*/




/* -------------------------------------------------------- */
/* ---------------------- CONTENT ------------------------- */
/* -------------------------------------------------------- */



/* -------------------------------------------------------- */
/* ----------------------- LISTS -------------------------- */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* ----------------------- TABLES ------------------------- */
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* ----------------------- PEOPLE ------------------------- */
/* -------------------------------------------------------- */



/* -------------------------------------------------------- */
/* ----------------------- EVENTS ------------------------- */
/* -------------------------------------------------------- */







/* -------------------------------------------------------- */
/* ------------------------ MEDIA ------------------------- */
/* -------------------------------------------------------- */



  /* ----- LOGOS ----- */
    #psu-logo {
      position: relative;
      top: 0px;
      left: 0px;
    }

    #portal-logo {
      float: right;
      margin: 15px 15px 5px 0;
    }
    
    #portal-logo img {
      margin: 0;
    }





